# macOS / IDE
.DS_Store
.idea/
.vscode/

# Env
.env
.env.*.local
backend/.env
frontend/.env

# Node
node_modules/

# Builds / caches
dist/
build/
.next/
out/

# Foundry
contracts/cache/
contracts/out/
contracts/broadcast/

# Prisma (si tu utilises SQLite local)
backend/prisma/*.db
backend/prisma/*.db-journal
